{% extends 'polls/base.html'%}
{% load static %}

{% block header %}
{% load crispy_forms_tags %}

<h1> TVGUIDE Schedule </h1>
    <h2>{{ now }}</h2>
{% endblock %}


{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">Programs</div>
    <div class="panel-body">
        {% for timeslot in timeslots %}
        <h2>{{ timeslot.program.name }}</h2>
        <h3> On {{ timeslot.channel.name }}</h3>
        <h4 class="text-danger">starts at {{ timeslot.start.time }} finish at {{ timslot.finish.time }} </h4>
            <h3>-----------------------------------------------</h3>
        {% endfor %}
    </div>
    <input class="btn btn-primary" type="submit" value="Next>>>"/>
</div>

{% endblock %}






{#    <body>#}
{#        <h1> TVGUIDE Schedule</h1>#}
{#        <h3> for {{ time_start }} </h3>#}
{##}
{#        {% for program in time_list %}#}
{#        <h4>{{ program.name }}</h4>#}
{#        <h4>{{ program.timeslot_set}}</h4>#}
{##}
{#        {% endfor %}#}
{##}
{#    </body>#}
{#</html>#}
{##}
{#{% for x in channel_list %}#}
{#        {{channel_list}}#}
{#        {{program_list}}#}
{#        {% endfor %}#}